html,
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
}

header {
  padding: 20px 50px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0;
  padding: 0;
  align-items: center;
}

ul li {
  list-style: none;
}

ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: 0.5s;
}

ul li a:hover {
  color: black;
}

.btn-1 {
  width: 129px;
  height: 40px;
  border-radius: 22px;
  background-color: #2086fb;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.banner img {
  width: 100%;
  height: 568px;
}

.sh {
  padding: 20px;
}
h1 {
  position: absolute;
  top: 15%;
  left: 20%;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(238, 238, 238, 0.4);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.wrapper .input {
  width: 926px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  background-color: #fff;
  font-family: sans-serif;
}

.bi {
  padding: 10px;
  color: #4a4a4a;
  background-color: #fff;
  border-radius: 0px 5px 5px 0px;
}

section {
  margin: 0;
  padding: 0% 0% 40% 0;
}

.single-service {
  position: relative;
  width: 328px;
  background: #fff;
  box-sizing: border-box;
  padding: 10px 10px;
  overflow: hidden;
  float: left;
  margin: 20px 20px;
  text-align: center;
}

.single-service p {
  color: #858585;
  font-size: 14px;
  padding: 0px 20px;
}
.single-service h3 {
  font-size: 16px;
  font-family: sans-serif;
  color: #4a4a4a;
}
.icon-full img {
  width: 60px;
  height: 60px;
  margin: 5% auto;
}

footer {
  background: #323232;
  padding: 0px px;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 30px;
  font-weight: 500;
}

.footer-content p {
  padding: 0px 0px 40px;
  font-size: 16px;
}

.btn-2 {
  padding: 0px 0px 50px 0px;
}

.btn-2 button {
  width: 223px;
  height: 40px;
  border-radius: 22px;
  background-color: #2086fb;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.footer-bottom {
  background: #252525;
  width: 100%;
  padding: 0px 0px 100px 0px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14p;
  padding: 20px;
}
.footer-bottom p a {
  color: #ffff;
  font-size: 16px;
  text-decoration: none;
}

#button {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 70px;
  right: 30px;
}

a .bi {
  color: #fff;
  background-color: #4a4a4a;
  border-radius: 5px;
  position: absolute;
}
